<html>
<head>
    <link rel="stylesheet" href="../static/css/demo.css">
</head>
<body>
  <div>
    <div class="bg-container">
           <div class="direct">
              <a class="top-para" href="/home1">Home</a>
               <a class="top-para" href = "/prediction">Predict</a>
            </div>
        <h1 class="main-heading"> <i>Body Fitness Prediction</i> </h1>
            <i class="bottom-para">Exercise is an important health behaviour. Expressed reasons for participation are
                often delayed outcomes i.e., health threats and benefits, but also enjoyment. However, we do
                not know how people evaluate exercises as a reward. Delay discontinuining rates (k) indicated
                that exercise was discounted like other consumable rewards at the same rate and more rapidly than
                monetary rewards. Significant associations were detected of kax with prefered speed and with extrinsic
                exercise motivation. Exercise training (n=16) reduced kax specially, not affecting kfo. Our studies show,
                that participants perceived and discounted selg-paced walking/running like a consumable reward. Execise discounting
                was quicker in individuals who preferred lower speeds being less physically active and exercise training
                reduced the decay rate of exercise specifically.
            </i>
    </div>
  </div>
</body>
</html>