<html>

<head>

    <link rel="stylesheet" href="../static/css/demo1.css">

</head>

<body>


  <div>

    <div class="h-container">

      <h1 class="heading"><i>Body Fitness Prediction</i></h1>

      <p class="para"><i>A machine learning Web App, Built with Flask</i></p>

    </div

    <div class="container2">

      <h1 class="heading2">Prediction:<span class="s-heading">Sorry! You are Lazzy........</span></h1>

      <img src="https://i.pinimg.com/474x/62/06/85/62068511d64353f44ac589d5a0d9acec.jpg"/>

    </div>
</div>
</body>
</html>
